<% if (opt.filters && opt.filters.length) { %>
    <div class="container">
        <div class="html-clearfix">
            <div class="list-variations">
                <% if (opt.title) { %>
                    <h2><%= opt.title %></h2>
                <% } %>
                <ul>
                    <% opt.filters.forEach(({ filter_grid, filter_option  }) => {
                        if (filter_grid && filter_option) {
                        %>
                        <li><a href="/search?filters[]=<%= filter_grid %>:<%= filter_option %>"><%= filter_option %></a></li>
        
                    <% }}) %>
                </ul>
            </div>
        </div>
    </div>
<% } %>